[Unit]
Description=Automatically turn on LED lights after
Requires=dbus.service
Requires=camera-coordinator.service
After=dbus.service
After=camera-coordinator.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/camera-coordinator-autolight -config /etc/camera-coordinator/autolight.conf.json
[Install]
WantedBy=multi-user.target

